@import '@bsync/ui/styles.css';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  width: 380px;
  min-width: 380px;
  height: 600px;
  max-height: 600px;
  margin: 0;
}

body {
  overflow: hidden;
}
